/**
* @author   Open Images Platform
* @since    July 2009
* @name     Stylesheet for specific styles of OIP MMBase Framework components
* @version  '$Id$'
*/


div.b_user-profile
{
	margin-bottom: 12px;
/*
	max-height: 286px;
	overflow: auto;
*/
}

div.b_user-medialist
{
	clear: both;
	padding-top: 1em;
}

div.b_user-profile img,
div.b_user-picture img
{
	float: left;
	border: 1px solid #efefef;
	margin-bottom: 12px;
}

div.b_user-profile h3,
div.b_user-picture h3
{
    margin-left: 90px;
    font-family: Helvetica, sans-serif;
    text-transform: none;
    color: #333;
    font-size: 1.2em;
    letter-spacing: 0;
    margin-bottom: 0;
    clear: none;
}

div.b_user-profile h4,
div.b_user-profile p.description, 
div.b_user-picture p.description { margin-left: 90px; }

div.b_user-picture a.cancel, 
div.b_user-mediapreview a.cancel { float: right; }
div.b_user-picture label,
div.b_user-mediapreview label { float: none; }
div.b_user-picture img,
div.b_user-mediapreview img { margin-right: 10px;}
div.b_user-picture fieldset,
div.b_user-mediapreview fieldset { margin: 0; }
div.b_user-picture input.submit,
div.b_user-mediapreview input.submit,
div.b_user-mediapreview input.cancel,
div.b_user-picture input.cancel
{
	float: none;
	margin-left: 0;
}
div.b_user-picture input.cancel,
div.b_user-mediapreview input.cancel { border-left: none; }
div.b_user-mediapreview #edit-picture { margin-top: 1em; }

div.b_user-mediapreview p img { margin: 1em 8px -6px 0; }


/* form stuff, like larger sizes because of html-editor */
div.b_user-media fieldset.first { margin-top: 2em; }

div.b_user-media textarea.small,
div.b_user-translations textarea.small { height: 180px; }

div.b_user-edit textarea.big,
div.b_user-translations textarea.big,
div.b_user-media textarea.big { height: 280px; }

fieldset.confirm-registration input { width: auto; }
fieldset.confirm-registration label
{
	display: inline;
	padding-left: 8px;
	font-weight: normal;
}

fieldset.licenses ul li { margin-top: 4px; }
fieldset.licenses input { width: auto; }
fieldset.licenses label
{
	display: inline;
	margin-left: 4px;
	margin-bottom: 0;
}

fieldset.licenses a
{
	display: block;
	margin-left: 20px;
	font-size: 0.9em;
	line-height: normal;	
}
fieldset.licenses a:link, 
fieldset.licenses a:visited { text-decoration: none; }



/* oiplayer */
div.b_user-mediapreview div.oiplayer
{
	width: 284px;
	height: 213px;
	display: block;
}
div.b_user-mediapreview div.oiplayer audio
{
	width: 284px;
}
div.b_user-mediapreview div.inavailable
{
	width: 284px;
	height: 213px;
	background-image: url(../images/preview_video.png);
	background-position: -20px -14px;
	background-repeat: no-repeat;
}
div.b_user-mediapreview div.inavailable p
{
	padding-top: 84px;
	text-align: center;
	font-weight: bold;
}

div.b_user-mediapreview ul.controls { width: 284px; }
div.b_user-mediapreview dl.media-info { width: 284px; }



div.b_user-streams table
{
	padding: 0;
	margin: 0;
}
div.b_user-streams caption { text-align: left; }

div.b_user-streams th,
div.b_user-streams td
{
	vertical-align: top;
	padding-right: 4px;
}

div.b_user-streams th { text-align: right; }

div.b_user-streams tr.title,
div.b_user-streams tr.title th
{
	text-align: left;
	background-color: #efefef;
	padding: 1px 2px 1px 6px;
}

div.b_user-streams td a
{
	font-weight: normal;
	color: #555;
}

div.b_user-streams td.action a
{
	color: #C00;
}

div.b_user-streams td.action a { color: #c00; }

div.b_user-streams td.info { font-size: 0.85em; }

div.b_user-favorites a.favorite.remove
{
    position: relative;
    float: left;
    z-index: 10;
    top: -15px;
    left: 70px;
    width: 20px;
    padding-top: 20px;
    background-image: url(icons/close.png);
    overflow: hidden;
    height: 0px !important;
    height /**/: 20px;  /* for IE5/Win */
}
div.b_user-favorites a.favorite.remove img { border: none; }
