/**
* @author   Open Images Platform
* @since    July 2009
* @name     Stylesheet for specific styles of OIP MMBase Framework components
* @version  '$Id$'
*/


div.b_user-profile
{
	margin-bottom: 12px;
/*
	max-height: 286px;
	overflow: auto;
*/
}

div.b_user-medialist
{
	clear: both;
	padding-top: 1em;
}

div.b_user-profile img,
div.b_user-picture img,
div.b_user-mediapreview img
{
	float: left;
	border: 1px solid #efefef;
	margin-bottom: 12px;
}

div.b_user-profile h3,
div.b_user-picture h3
{
    margin-left: 90px;
    text-transform: none;
    color: #333;
    font-size: 1.2em;
    letter-spacing: 0;
    margin-bottom: 0;
    clear: none;
}

div.b_user-profile h4,
div.b_user-profile p.description, 
div.b_user-picture p.description,
div.b_user-mediapreview p.description { margin-left: 90px; }

div.b_user-profile a.editme, 
div.b_user-picture a.editme { text-transform: lowercase; }

div.b_user-picture a.cancel, 
div.b_user-mediapreview a.cancel { float: right; }

div.b_user-picture img,
div.b_user-mediapreview img { margin-right: 10px;}

div.b_user-picture fieldset,
div.b_user-mediapreview fieldset { margin: 0; }

div.b_user-picture input.submit,
div.b_user-mediapreview input.submit,
div.b_user-mediapreview input.cancel,
div.b_user-picture input.cancel
{
	float: none;
	margin-left: 0;
}

div.b_user-picture input.cancel,
div.b_user-mediapreview input.cancel { border-left: none; }
div.b_user-mediapreview #edit-picture { margin-top: 38px; }

div.b_user-mediapreview p img { margin: 1em 8px -6px 0; }

textarea#mm_upload_form_intro { height: 6em; }

/* translations */
div.b_user-translations { clear: both; }
div.b_user-translations a.editme,
div.b_user-translations a.cancel,
div.b_user-mediapreview a.cancel,
div.b_user-picture a.cancel
{
	float: right;
	margin-left: 8px;
	text-transform: lowercase;
}
div.b_user-mediapreview a.editme { text-transform: lowercase; }

/*
div.b_user-translations form
{
	background-image: url(images/dots2.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	padding-top: 2px;
}

div.b_user-translations form fieldset.buttons { 
	background-image: url(images/dots2.png);
	background-repeat: repeat-x;
	background-position: 0 100%;
}
*/

div.progressInfo
{
	width: auto;
	border: 2px solid #ccc;
	padding: 2px 4px 0;
	font-weight: bold;
	text-align: left;
	position: relative;
	height: 22px;
	margin: 0 0 1em 0;
}


div.PROGRESS, div.DONE
{
	background-image: url(../images/progress.png);
	background-color: #fff;
	background-repeat: repeat;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}

div.progressInfo span.percentage
{
	position: relative;
	top: 0;
	left: 2px;
	color: #555;
}

div.progressInfo span.speed
{
	position: relative;
	top: 0;
	left: 12px;
	color: #555;
}

/* form stuff, like larger sizes because of html-editor */
div.b_user-media fieldset.first { margin-top: 2em; }

div.b_user-media textarea.small,
div.b_user-translations textarea.small { height: 180px; }

div.b_user-edit textarea.big,
div.b_user-translations textarea.big,
div.b_user-media textarea.big { height: 280px; }

div.b_user-edit textarea.mm_f_description,
div.b_user-translations textarea.mm_f_description, 
div.b_user-translations textarea.mm_f_you_allow { height: 120px; }

fieldset.confirm-registration input { width: auto; }
fieldset.confirm-registration label
{
	display: inline;
	padding-left: 8px;
	font-weight: normal;
	float: none;
	line-height: 24pt;
}

fieldset.licenses ul li { margin-top: 4px; }
fieldset.licenses input { width: auto; }
fieldset.licenses label
{
	display: inline;
	margin-left: 4px;
	margin-bottom: 0;
	float: none;
}
fieldset.licenses img { margin-left: 6px; }

div.b_user-mediapreview dl.media-info { width: 150px; }

div.b_user-streams table
{
	padding: 0;
	margin: 0;
}
div.b_user-streams caption { text-align: left; }

div.b_user-streams th,
div.b_user-streams td
{
	vertical-align: top;
	padding-right: 4px;
}

div.b_user-streams th { text-align: right; }

div.b_user-streams tr.title,
div.b_user-streams tr.title th
{
	text-align: left;
	background-color: #efefef;
	padding: 1px 2px 1px 6px;
}

div.b_user-streams td a
{
	font-weight: normal;
	color: #555;
}

div.b_user-streams td.action a
{
	color: #C00;
}

div.b_user-streams td.action a { color: #c00; }

div.b_user-streams td.info { font-size: 0.85em; }

div.b_user-favorites a.favorite.remove
{
    position: relative;
    float: left;
    z-index: 10;
    top: -15px;
    left: 70px;
    width: 20px;
    padding-top: 20px;
    background-image: url(icons/close.png);
    overflow: hidden;
    height: 0px !important;
    height /**/: 20px;  /* for IE5/Win */
}
div.b_user-favorites a.favorite.remove img { border: none; }

div.b_user-delete input.submit, 
div.b_user-delete input.cancel
{
	float: left;
	margin-left: 0;
	margin-right: 16px;
}
