/*
  ccs for cookie warning.
  @author:  André van Toly
  @version: '$Id$'
*/

div#cookie-bar
{
    z-index: 1999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px 10px 20px;
    height: 49px !important;
    /* + 10 + 10 + 1 = 70px */
    border-top: 1px solid #B8B8B8;
    /* border-left: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8; */
    box-shadow: 0 -1px 5px rgba(0,0,0,0.3);
    line-height: 16pt;
    font-size: 11pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: #efefef;
    background-image: linear-gradient(top, #efefef 0%, #B8B8B8 100%);
}
div#cookie-bar p {
	float: left;
	width: 60%;
	margin: 0;
} 
div#cookie-bar div {
	float: left;
	width: 40%;
	text-align: right;
}

div#cookie-bar button {
	width: auto;
	margin-left: 12px;
	cursor: pointer;
	min-width: 72px;
	padding: 5px 10px;
	margin-top: 8px;
	font-size: 10pt;
	color: #555;
	border: 1px solid #dadada;
	background-color: #f4f4f4;
	background-image: url(images/button-gradient.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	/* for css3 savvy browsers below */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#efefef));
	background: -moz-linear-gradient(top, #f9f9f9, #efefef);
    background-image: -o-linear-gradient(top, #f9f9f9, #efefef);
    background-image: -ms-linear-gradient(top, #f9f9f9, #efefef);
    background-image: linear-gradient(top, #f9f9f9, #efefef);	
}
