/**
* @author   Open Images Platform
* @since    May 2009
* @name     Stylesheet with the page lay-out stuff
* @version  '$Id$'
*/

div#main
{
	width: 1008px;
	margin: 0;
	padding: 0;
}

#menu a:link
{
	text-decoration: none;
	color: #333;
}

#menu a:visited
{
	text-decoration: none;
	color: #333;
}

#menu a:hover
{
	text-decoration: underline;
	color: #c00;
}

#menu a:active
{
	text-decoration: underline;
	color: #e00120;
}

#menu li.active a { color: #aaa; }

#header
{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 35px;
	padding-right: 28px;
	width: 279px;	/* for IE5/Win */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 216px;
}

#header h1
{
	margin-bottom: 60px;
	margin-top: 44px;
}
#header p { font-style: italic; }

#menu
{
	position: relative;
	top: 0;
	left: 308px;
	width: 698px;
	height: 44px;
	font-size: 1.1em;
}

#menu ul.main
{
	list-style: none;
	height: 20px;
	width: 512px;
	position: absolute;
	top: 24px;
	left: 0;
}

#menu ul.main li
{
	list-style: none;
	float: left;
	padding-right: 34px;
}

#menu ul.main li.last { padding-right: 0; }

#menu ul.meta
{
	height: 16px;
	list-style: none;
	width: auto;
	position: absolute;
	top: 4px;
	right: 0;
}

#menu ul.meta li
{
	display: inline;
	list-style: none;
	float: right;
	font-size: 0.85em;
	padding-left: 24px;
}

#menu ul.meta li.you { white-space: nowrap; }
#menu ul.meta li a.login, 
#menu ul.meta li a.logout { text-transform: lowercase; }


#menu ul.main li.form { float: right; }
#menu ul.main li.form,
#menu ul.main li form,
#menu ul.main li fieldset {
	margin: 0;
	padding: 0;
	/*width: 120px;*/
}
#menu ul.main select { /*width: 120px;*/ }
#menu ul.main label { display: none; }

#menu ul.meta li a { color: #C00; }
#menu ul.meta li a.active { text-decoration: underline; }

#footer
{
	clear: both;
	width: 100%;
	/*background-image: url(images/dots2-bg-grey.png);*/
    background-image: url(images/dots2.png);
	background-repeat: repeat-x;
	background-position: 0 60px;
	padding-top: 80px;
	min-height: 266px;
}

#footer div
{
	width: 15%;
	float: left;
	margin-left: 42px;
	font-size: 0.85em;
}

#footer div.logos
{
	float: left;
	width: 216px;
	margin-left: 48px;
	font-size: 0.9em;
	color: #777;
}
#footer div.logos img { margin-top: 8px; }

#footer ul { list-style: none; }

#footer li
{
	margin-top: 2px;
	list-style: none;
}

#footer a:link, 
#footer a:visited 
{
	color: #555;
	text-decoration: none;
}
#footer a:hover, 
#footer a:active { text-decoration: underline; }


/* columns */
div.wrap
{
	width: 100%;
	clear: both;
	background-image: url(images/dots2-bg-grey.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	min-height: 266px;
	overflow: hidden; /* http://www.quirksmode.org/css/clearing.html */
}

div.left-column
{
	padding-left: 35px;
	padding-right: 28px;
    padding-top: 16px;
	background-image: url(images/dots2-bg-grey.png);
	background-repeat: repeat-x;
	background-position: 0 0px;
	min-height: 166px;
	width: 279px;	/* for IE5/Win */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 216px;
}

div.main-column
{
	padding-top: 10px;
	margin-bottom: 8px;
	width: 512px;
}

div.right-column
{
	margin-left: 16px;
	padding-left: 21px;
	padding-top: 10px;
	margin-bottom: 8px;
	width: 171px;   	/* for IE5/Win */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 150px;
}

/* differences per page */
div.left-column
{
	position: absolute;
	top: 420px;
	left: 0px;
}
body.home > div#main > div.left-column { display: none; }

div.main-column,
body.home > div#main > div.main-column
{
	float: left;
	margin-left: 308px;
	/*	position: absolute;
	left: 308px;
	top: 30px; */
	margin-bottom: 4px;
}

div.right-column,
body.home > div#main > div.right-column
{
	float: right;
	/*position: absolute;
	left: 820px;
	top: 30px; */
	margin-bottom: 4px;
}


body.home > div#main> div.wrap
{
	width: 820px;
	position: absolute;
	left: 0px;
	top: 420px;
}

div.wrap > div.left-column
{
	position: static;
	display: block;
	float: left;
	padding-top: 16px;
	margin-top: 0;
	border: 0;
}

div.wrap > div.main-column
{
	float: left;
	padding-top: 16px;
	margin-left: 29px;
	width: 496px;
}

body.home div#main div.wrap div.right-column { display: none; }

body.media > div#main > div.left-column { top: 236px; }
body.media > div#main > div.right-column { margin-top: 190px; }
body.media div#main div#header p { display: none; }

/* error pages */
body.error div.main-column
{
	padding-top: 10px;
	margin-bottom: 8px;
	width: 699px;
	margin-left: 308px;
}

body.error div.main-column h2,
body.error div.main-column h3
{
	font-family: Helvetica, sans-serif;
	text-transform: none;
}

/* the bordered and grey background divs */
div.related-grey-border
{
	/*background-image: url(images/bg-gr-dotted.png);*/
	background-image: url(images/dots2-bg-grey.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	min-height: 266px;
	padding: 16px 8px 8px 8px;
	clear: both;
	margin-bottom: 1em;
}

div.related-grey
{
	background-image: url(images/bg-gr.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	min-height: 266px;
	padding: 8px;
	clear: both;
	margin-bottom: 1em;
}

div.related-grey div.ui-tabs-panel div.ui-tabs { min-height: 200px; }

div.related
{
	min-height: 266px;
	/*padding: 8px;*/
	clear: both;
	margin-bottom: 1em;
	padding-top: 8px;
}

div.related h2, div.related-grey h2 { margin-top: 0; }
div.related h3, div.related-grey h3 { margin-top: 0; }

body.home div#main div.right-column div.related
{
	margin-bottom: 0;
	padding-bottom: 0;
}
