/**
* @author   Open Images Platform
* @since    July 2009
* @name     IE6 only stylesheet
* @version  0.1
*/

div#main div.main-column { padding-top: 18px; }

body.home div#main div.main-column { margin-left: 340px; }

body.home div#main div.right-column { margin-left: 0; }

