/**
* @author   Open Images Platform
* @since    May 2009
* @name     Main stylesheet
* @version  '$Id$'
*/

body.login
{
	font-family: Helvetica, sans-serif;
	border: 0;
	background-color: #efefef;
	font-size: 0.9em;
}

#loginbox
{
	margin: 6em auto 2em auto;
	width: 24em;
}

#loginbox div
{
	clear: both;
	padding: 4px 0.8em 0 0;
}

#loginbox h2
{
	clear: both;
	padding-left: 5.8em;
	margin: 100px 0 0 0;
}

#loginbox div.last
{
	clear: both;
    padding-left: 8.4em;
}

#loginbox label
{
	float: left;
	width: 8em;
	text-align: right;
	font-weight: bold;
	margin-right: 0.5em;
}

#loginbox fieldset
{
	width: 320px;
	border: 1px solid #c8cfd9;
	background-color: #FFF;
	padding: 1em 1em 0 1em;
	background-image: url(../images/oip-logo.png);
	background-repeat: no-repeat;
	background-position: 50px 10px;
}

#username, #password { width: 12em; }

#loginbox h4
{
	padding: 0;
	margin: 0;
}

#loginbox p { padding: 6px; }
