/**
* @author   Open Images Platform
* @since    OIP v.1.0.2, October 2010
* @name     Stylesheet for all mmbase taglib styles starting with mm_
* @version  '$Id$'
*/


.mm_form { clear: both; }

.mm_check_error {
    color: #C00;
    font-size: 1em;
}

select.mm_datetime_day, 
select.mm_datetime_month, 
select.mm_datetime_year, 
input.mm_datetime_year, 
select.mm_datetime_hour, 
select.mm_datetime_minute { width: auto; } 
input.mm_datetime_year { text-align: right; }


.contact form.notsubmitted div.mm_check_error,
.user-create form.notsubmitted div.mm_check_error, 
.reset-password form.notsubmitted div.mm_check_error {
    color: #666;
    display: none;
}

.contact form.notsubmitted div.mm_check_updated,
.user-create form.notsubmitted div.mm_check_updated,
.reset-password form.notsubmitted div.mm_check_updated {
    display: block;
}

.mm_validate.invalid { /* border: 1px solid #CE8A8A; */ }
