/**
* @author   Open Images Platform
* @since    May 2009
* @name     Stylesheet to style the player
* @version  0.1
*/

#clientcaps	/* used by MSIE Java plugin detection, sigh :-( */
{
	behavior: url(#default#clientCaps);
	display: none;
}

ul.controls { width: 320px; }

#oiplayer
{
	width: 320px;
	display: block;
}

#oiplayer img { border: 1px solid #efefef; }

#oiplayer div.mediaplayer
{
	margin: 0;
	padding: 0;
}

ul.controls
{
	height: 25px;
	margin-bottom: 6px;
	margin: 10px 0;
	height: 25px;
	list-style: none;
	display: inline;
	overflow: hidden;
}

#oiplayer.inavailable
{
	font-weight: bold;
	font-size: 1.1em;
	background-image: url(../images/preview_video.png);
}

#oiplayer.inavailable p
{
	width: 80%;
	padding-top: 90px;
	text-align: center;
	font-size: 1.4em;
	margin: 0 auto;
}


ul.controls li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

ul.controls a
{
	float: left;
	padding: 25px 0 0 0;
	overflow: hidden;
	height: 0 !important;
    height /**/: 25px;  /* for IE5/Win */
}

ul.controls a:hover { background-position: 0 -25px; }

ul.controls li.play a
{
	background-image: url(../images/controls-play.png);
	width: 21px;
	margin-left: 0;
}

ul.controls li.play.pause a
{
	background-image: url(../images/controls-pause.png);
	width: 21px;
	margin-left: 0;
}


/*
div#playercontrols li.pause a
{
	background-image: url(../images/controls-pause.png);
	width: 21px;
	margin-left: 4px;
}
*/

ul.controls li.position
{
	width: 24px;
	margin: 0 0 0 10px;
	font-family: Monaco, Courier, monospaced;
	line-height: 2em;
}

div.playerinfo { font-size: xx-small; }

ul.controls li.sound a
{
	background-image: url(../images/controls-soundon.png);
	width: 23px;
	background-repeat: no-repeat;
	float: right;
	margin: 0 4px;
}

ul.controls li.screen a
{
	background-image: url(../images/controls-fullscreen.png);
	width: 23px;
	margin: 0 4px;
	background-repeat: no-repeat;
	float: right;
}

