/**
* @author   Open Images Platform
* @since    OIP-1.1
* @name     Styles that are specific for portal editors
* @version  '$Id$'
*/

body.editor #topbar ul.meta li {
	margin-right: 0;
	margin-left: 0;
}
body.editor #topbar ul.meta li.you { 
    background-image: url(icons/dot-white.png);
    background-repeat: no-repeat;
    background-position: right 8px;
    padding-right: 18px;
	margin-left: 8px;
}
 
body.editor #header { margin: 0; }
body.editor #header img { 
    margin: 28px 0 10px 0; 
	overflow: hidden;
}
body.editor div#footer
{
	clear: both;
	background-image: none;
	width: auto;
}
body.editor div#footer div
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
    border-top: 1px solid #cfcfcf;
	min-height: 80px;
	width: 100%;
	margin: 20px 0 0 0;
	padding: 1em 0 0 0;
}
body.editor div#footer div ul { margin-left: 283px; }
body.editor div.left-column {
	background-image: none;
	top: 240px;
}
body.editor div.wrap
{
	/* background-image: url("images/dots2.png"); */
	background-image: none;
	border-top: 1px dotted #ccc;
	min-height: 40px;
	top: 260px;
}
div.wrap
{
	margin-top: 30px;
	padding-top: 10px;
}
body.editor div.wrap.noborder {
	background-image: none;
	border: none;
}

div.left-column h2,
div.left-column h3 { margin-bottom: 0.2em; }

div.left-column ul { 
    list-style: none; 
    margin-top: 0; 
    margin-bottom: 2em; 
}

h1, h2
{
	color: #3BA0D9;
	font-weight: 200;
}
h3, h4 {
	color: #707070;
	font-weight: 200;
}

#portalform
{
	padding-top: 2em;
	clear: both;
}

a:link, a:hover, a:active { color: #3BA0D9; }
a:visited { color: #069; }

body.login div.login
{
	width: 364px;
	margin: 4em auto;
	background-image: url(../images/oip-logo_en.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding: 110px 0 10px 10px;
}


a.edit { text-transform: lowercase; }

a.editme:link,
a.editme:visited,
a.edit:link,
a.edit:visited { color: #3BA0D9; }

a.edit:hover,
a.editme:hover { color: #c00; }
a.edit:active,
a.editme:active { color: #FF6600; }

div.actions,
div.actionrelate {
	float: right;
	/* margin-right: 4px; */
}
div.actions,
div.actionrelate {
	float: right;
	/* margin-right: 4px; */
}
div.actions > div.actions { margin: 0; }
div.actions a { margin-left: 6px; }
div.actions a.editme { text-transform: lowercase; }

/* forms */
fieldset { clear: both; }
form.properties {
	margin-top: 2em;
}

/* ### sortable lists ### */
ul.relatednodes li > div.actions,
ul.foundnodes li > div.actions,
ul.foundnodes li > div.actionrelate { margin: 4px 6px 4px 0; }

ul.relatednodes li > div.actions a,
ul.relatednodes li > div.actionrelate a { margin-left: 8px;  }

ul.sortable {
	min-height: 32px;
}

ul.relatednodes li div.actionrelate,
ul.foundnodes.notsortable li div.actionrelate,
ul.foundnodes.sortable li div.actions { display: none; }

ul.sortable li
{
	margin: 8px 0;
	border: 1px dotted #ccc;
}
ul.sortable li.ui-state-highlight {
	height: 68px;
	border: 1px dotted #ccc;
	background-color: #efefef;
	margin: 0;
}
ul.pages li.ui-state-highlight { height: 28px; }
ul.sortable.activated {
	/* border: 1px dotted #ccc;
	background-color: #efefef; */
}

ul.foundnodes.empty {
	border: 1px dotted #ccc;
	height: 68px;
}
ul.foundnodes.empty.pages { height: 28px; }
ul.foundnodes.empty li.ui-state-highlight { border: none; }

ul li.notsortable,
ul.sortable li.notsortable,
ul.sortable li.pager 
{
	border: none;
	margin: 0;
}
ul.sortable li.empty {
	padding: 4px 0 4px 8px;
	border: 1px dotted #ccc;
}

ul.sortable li div.node {
	background-image: url(icons/sort-handle.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 24px;
	margin: 4px 0 4px 6px;
}
ul.sortable li > form div.node {
	/* margin: 0 0 6px 0; */
}

ul.sortable li.add {
	text-align: right;
}
p.add {
	text-align: right;
	text-transform: lowercase;
	margin: 8px 2px 0 0;
}

span.removed, span.deleted { color: #C33; }

/* search forms */
div.searchme {
    border-top: 1px dotted #ccc;
	padding-top: 16px;
	margin-top: 16px;
}
div.searchme li.ui-state-highlight {
	/* display: none; */
}
form.searchme {
	border-bottom: 1px dotted #ccc;
	background-position: bottom;
	padding-bottom: 16px;
}
form.searchme fieldset {
	margin: 0;
	padding: 0;
}
form.searchme label {
	width: 120px;
}
form.searchme input[type=text] {
	width: 300px;
	margin-bottom: 0;
}
form.searchme input.submit {
	margin: 0;
	float: right;
	font-size: 1em;
}
div.searchresults {
	padding: 16px 0;
}

div.searchresults > a.cancel {
	float: right;
	margin-right: 2px;
}
div.searchresults > strong
{
	margin: 0 0 6px 0;
	font-size: 1.1em;
	display: block;
}

li.pager
{
	margin: 6px 0;
	text-align: center;
}

div#edit-picture div.emptyimage {
	border: 1px solid #ccc;
	height: 89px;
	width: 157px;
	float: left;
	margin-bottom: 1em;
	background-image: url(images/cross512x288.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
div#edit-picture div.node {
	float: left;
	margin-bottom: 1em;
}
div#edit-picture span.links {
	text-transform: lowercase;
	margin-left: 8px;
}

/* show-node.jspx */
div.show-media { height: 68px; }
div.show-media img
{
	float: left;
	margin: 4px 8px 0 0;
}

div.mm_check_error { margin-left: 148px; }

/* some specials styles */
form.mm_form > a.cancel,
form.delete_form > a.cancel {
	float: right;
	text-transform: lowercase;
}

/* ### editme form ### */
.editmeform,
ul li.notsortable.editmeform {
	border: 1px solid #d4d4d4;
	background-color: #f9f9f9;  /* #e3e2de;   f9f9f9 */
	padding: 4px 6px;
	margin-bottom: 4px;
}

div.editmeform > div.editmeform { border: none; }

.editmeform strong
{
	font-size: 1.2em;
	color: #555;
	font-weight: 400;
}
/*.editmeform strong.type { text-transform: lowercase; }*/
.editmeform label { color: #666; }

.editmeform p.info { width: 342px; }

.editmeform div.intro p.info,
.editmeform div.body p.info,
.editmeform div.description p.info,
.editmeform div.you_allow p.info,
.editmeform div.relation p.info { width: 494px; }


.editmeform fieldset { width: auto; }
.editmeform input[type="text"] { width: 338px; /* 432 */ }
.editmeform textarea { width: 486px; /* 490 */ }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .editmeform input[type="text"] { padding: 2px; width: 344px; } 
    div.b_user-media textarea.big, div.b_user-media textarea.small { padding: 2px; width: 496px; } 
}

.editmeform input.mm_datetime_year,
.editmeform input[type="submit"],
.editmeform input[type="button"]
{
	width: auto;
	margin-right: 1px;
}
.editmeform input[type="file"] { margin-left: 150px; }

.editmeform fieldset
{
	padding-top: 4px;
	margin-bottom: 0;
}
.editmeform fieldset.buttons > div { width: 502px; }

/* ### end editme form ### */



/* specifics editor-page.jspx */
div.wrap.languages {
	margin: 0 0 1em 0;
}
div.wrap.languages li.add { text-transform: lowercase; }

div.box {
	width: 498px;
	background-color: #f9f9f9;
	padding: 6px 6px 0 6px;
	border: 1px solid #ccc;
}
div.box fieldset.buttons { margin-bottom: 4px; }
div.box fieldset.buttons > div { width: 498px; }
div.box input[type="text"] { width: 338px; }
div.box textarea { width: 486px; }
div.box p.info { width: 342px; }
div.box div.description p.info { width: 490px; }

/* table statistics */
table.stats td,
table.stats th { padding: 1px 4px; }
table.stats {
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	font-size: 0.9em;
	width: 100%;
	margin-bottom: 1em;
}
table.stats caption
{
	border-left: 1px #CCC solid;
	border-right: 1px #CCC solid;
	padding: 1px 3px;
	background-color:#E6E9DD;
}
table.stats th, table.stats td { border-top: 1px solid #ccc; }
table.stats th { background-color: #E8E8E8; }
table.stats tr.even { background-color:#E6E9DD; }

table.stats td {
	vertical-align: top;
}
table.stats th.number,
table.stats td.number {
	text-align: right;
}
table.stats td.created {
	text-align: center;
	white-space: nowrap;
}
table.stats td.total { text-align: center; }

