/**
* @author   Open Images Platform
* @since    OIP-1.1
* @name     Styles that are specific for portal editors
* @version  '$Id: editors.css 43696 2010-10-20 09:39:57Z andre $'
*/
 
body.editor #header { margin: 0; }
body.editor #header p { display: none; }
body.editor #header img { 
    margin: 28px 0 10px 0; 
	overflow: hidden;
}
body.editor div#footer
{
	clear: both;
	background-image: none;
	width: auto;
}
body.editor div#footer div
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
    border-top: 1px solid #cfcfcf;
	min-height: 80px;
	width: 100%;
	margin: 20px 0 0 0;
	padding: 1em 0 0 0;
}
body.editor div#footer div ul { margin-left: 283px; }

body.editor div.left-column, 
body.editor div.wrap
{
	background-image: url("images/dots2.png");
	min-height: 40px;
	top: 260px;
}
div.wrap
{
	margin-top: 30px;
	padding-top: 10px;
}

div.left-column h2,
div.left-column h3 { margin-bottom: 0.2em; }


div.left-column ul { 
    list-style: none; 
    margin-top: 0; 
    margin-bottom: 2em; 
}

h1, h2, h3 { color: #3BA0D9; }

#portalform
{
	padding-top: 2em;
	clear: both;
}

a:link, a:hover, a:active { color: #3BA0D9; }
a:visited { color: #069; }

body.login div.login
{
	width: 364px;
	margin: 4em auto;
	background-image: url(../images/oip-logo_en.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
	padding: 110px 0 10px 10px;
}


div.edit-pic div { float: left; }
div.edit-pic a { margin-left: 12px; }

a.edit:link,
a.edit:visited { color: #3BA0D9; }

/*
a.delete, a.unrelate
{
	float: left;
	margin-right: 6px;
}
*/
a.editme, a.edit { margin-left: 6px; }
a.editme.add, div.add
{
	margin: 6pt 0;
}
p.translation, p.editme, p.closeme, a.editme, a.new, a.cancel
{
	float: right;
	text-transform: lowercase;
}

form#form_images { width: 512px; }
fieldset.buttons div { width: 512px; }

/* forms */
fieldset { clear: both; }

ul.sortable li > div
{
	background-image: url(icons/sort-handle.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 24px;
}
ul.sortable li > div.log
{
	background-image: none;
	padding-left: 0;
}

ul.sortable.empty
{
	border: 1px dotted #ccc;
	padding: 4px;
}

ul.sortable li
{
	margin: 2px 0;
	padding: 4px;
	border: 1px dotted #ccc;
}

ul li.notsortable,
ul.sortable li.notsortable,
ul.sortable li.pager,
ul.sortable li.log
{
	border: none;
	padding: 0;
	margin: 0;
}

span.removed, span.deleted { color: #C33; }

/* search forms */
form.searchform
{
	clear: both;
	margin-top: 2em;
}

form.searchform input[type=text] {
    background-image: url("images/search-bg.png");
    background-position: right 50%;
    background-repeat: no-repeat;
}
form.searchform input.submit { margin: 0; }

div.searchresults ul
{
	margin-bottom: 1em;
	padding-bottom: 4px;
	/* background-image: url("images/dots2.png");
	background-repeat: repeat-x;
	background-position: 0 bottom; */
}

div.searchresults > strong
{
	margin: 6px 0;
	font-size: 1.1em;
	display: block;
}
div.searchresults li.pager
{
	margin: 6px 0;
	text-align: center;
}

/* show-node.jspx */
div.show-media { height: 68px; }
div.show-media img
{
	float: left;
	margin: 4px 4px 0 0;
}

div.mm_check_error { margin-left: 148px; }
