/**
* @author   Open Images Platform
* @since    May 2009
* @name     Stylesheet for specific styles
* @version  '$Id$'
*/

div.main-column ul,
div.right-column ul { list-style: none; }

ul.menu { margin-bottom: 2em; }
ul.menu li ul { margin-bottom: 0; }
ul.menu li ul li ul { margin-bottom: 0; }
ul.menu li.active { font-weight: bold; }

div.main-column ul li ul, 
div.right-column ul li ul
{
    margin-left: 1em;
    list-style: none;
	font-weight: normal;
}

div.main-column ul li ul li ul, 
div.right-column ul li ul li ul
{
	margin-left: 2em;
	list-style: none;
	font-weight: normal;
}

ul.blog li a { display: block; }

ul.blog li a:link,
ul.blog li a:visited {
    color: #555;
    text-decoration: none;
}

ul.blog li a:hover,
ul.blog li a:active {
    color: #C00;
    text-decoration: underline;
}

ul.blog li
{
	margin-bottom: 1.1em;
	font-size: 0.95em;
}

p.intro { font-weight: bold; }

ul.links, ul.docs
{
    list-style: none;
    margin-bottom: 1em;
}

ul.links a, ul.docs a
{
    color: #555;
    /*text-decoration: none;*/
}

ul.links a:hover, ul.docs a:hover
{
    color: #c00;
    text-decoration: underline;
}

div.image
{
    float: right;
    margin: 4px;
}

div.image p
{
    margin: 0;
    font-size: small;
    font-style: italic;
}

div.oiplayer { background-color: #000; }

/* result lists, tabs above lists etc. */
ul.list-tabs
{
    float: left;
    width: 100%;
    list-style: none;
    display: inline;
    height: 46px;
}

ul.list-tabs li
{
    float: left;
    margin: 0;
    padding: 0;
}

ul.list-tabs a
{
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 6px 0 0;
	padding: 6px;
	background-image: url(images/bg-gray-hor.png);
	background-repeat: repeat-y;
	background-position: 0 0;
}

ul.list-tabs a:link,
ul.list-tabs a:visited
{
    text-decoration: none;
    color: #555;
}

ul.list-tabs a:hover,
ul.list-tabs a:active
{
    text-decoration: underline;
    color: #C00;
}

ul.list-tabs li.selected a:link,
ul.list-tabs li.selected a:visited,
ul.list-tabs li.ui-tabs-selected 
{
    color: #000;
    font-weight: bold;
}

div#video, div#audio, div#images {  }

dl.list
{
    display: inline;
    float: left;
    margin: 10px 0;
    width: 512px; 
}

dl.list dt
{
	float: right;
	font-size: 1em;
	line-height: 12pt;
	font-weight: bold;
	width: 422px; 
}
dl.thumbs dt { display: none; }
dl.list dd.img { margin-left: 0;}

dl.list dd
{
    margin-left: 90px;
    font-size: 0.85em;
	line-height: 12pt;
}

dl.list dd strong
{
    display: block;
    font-size: 1.1em;
    font-weight: normal;
}

dl.list dd.img img {
    border: 1px solid #efefef;
    float: left;
    margin: 0;
}

dl.list a:link,
dl.list a:visited
{
    text-decoration: none;
    color: #555;
}

dl.list a:hover,
dl.list a:active
{
    text-decoration: underline;
    color: #C00;
}

dl.list a.edit:link,
dl.list a.edit:visited
{
    text-decoration: underline;
    color: #c00;
}

dl.list a.edit:hover,
dl.list a.edit:active
{
    text-decoration: underline;
    color: #f00;
}

p.pager
{
    text-align: center;
    padding-top: 1em;
    clear: both;
}

ul.sortby a { padding-left: 18px; }
ul.sortby a.up
{
    background-image: url(icons/up.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

ul.sortby a.down
{
    background-image: url(icons/down.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

ul.sortby a:link,
ul.sortby a:visited
{
    text-decoration: none;
    color: #555;
}

ul.sortby a:hover,
ul.sortby a:active
{
    text-decoration: underline;
    color: #C00;
}

ul.sortby li.thumbsonly
{
	margin-top: 1em;
	padding-left: 18px;
	background-image: url(icons/grid.png);
	background-repeat: no-repeat;
	background-position: 4px 6px;
}
ul.sortby li.thumbsonly a { padding-left: 0; }

/* media item page */
h3.subtitle, h3.mediatitle
{
    font-family: Helvetica, sans-serif;
    color: #555;
    text-transform: none;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0;
    margin: 8px 0 0 0;
    clear: both;
}
h3.mediatitle a.edit
{
	font-size: 0.85em;
	color: #c00;
	text-decoration: underline;
}
h3.subtitle {
    max-width: 512px;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

div.toolbar
{
	margin: 10px 0;
	height: 32px;
}

ul.toolbar
{
	list-style: none;
	display: inline;
}

ul.toolbar li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

ul.toolbar li a
{
	float: left;
	padding: 6px 28px 2px 14px;
	background-image: url(images/button-gradient.png);
	background-position: right 50%;
	background-repeat: repeat-x;
	height: 22px;
	border-top: 1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
}

ul.toolbar li.license a { border-left: 1px #CCC solid; }
ul.toolbar li.favorite a
{
	background-position: left 50%;
	padding: 6px 14px 2px 14px;
}

ul.toolbar a:link,
ul.toolbar a:visited, 
ul.toolbar a:hover,
ul.toolbar a:active
{
	text-decoration: none;
	color: #555;
	font-weight: bold;
}

ul.toolbar li.favorite a { color: #999; }
ul.toolbar li.favorite a.selected { color: #555; }

p.media-intro
{
    clear: both;
    padding-top: 4px;
    margin-bottom: 2px;
}

table.media-info th
{
	text-align: left;
	color: #333;
	text-transform: lowercase;
}

table.media-info td
{
	text-align: left;
	padding-left: 4px;
}

table.media-info a:link { text-decoration: none; }
table.media-info a:visited { text-decoration: none; }
table.media-info span.user a:hover { text-decoration: underline; }
table.media-info span.user a:active { text-decoration: underline; }

dl.media-info
{
    float: left;
    width: 512px;
    padding: 0;
    margin: 1em 0;
    display: inline;	/* fixes another IE/Win bug */
}

dl.media-info dt
{
	float: left;
	margin-right: 6px;
	padding: 0;
	white-space: nowrap;
	color: #444;
}

dl.media-info dd { padding: 0; }
dl.media-info a:link { text-decoration: none; }
dl.media-info a:visited { text-decoration: none; }
dl.media-info span.user a:hover { text-decoration: underline; }
dl.media-info span.user a:active { text-decoration: underline; }

dl.preview
{
	width: 150px;
	overflow: hidden;
	margin-bottom: 12px;
}

dl.preview dt { margin-bottom: 0; }
dl.preview dd
{
	margin-top: 0;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #777;
}

dl.grid
{
	float: left;
	width: 80px;
	height: 104px;
	margin-right: 28px;
	margin-bottom: 4px;
	font-size: 0.9em;
	line-height: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

dl.noverflow { overflow: visible; }

#t_thumbs dl.grid { height: 80px; }

dl.grid img { border: 1px solid #efefef; }

dl.last { margin-right: 0; }

dl.grid dt, dl.grid3 dt { height: 60px; }
dl.grid dd, dl.grid3 dd
{
	padding-top: 6px;
	padding-left: 1px;
}

a.edit
{
	float: right;
	font-weight: normal;
	text-transform: lowercase;
	text-decoration: underline;
}

a.edit:link, a.edit:visited { color: #C00; }
a.edit:hover, a.edit:active { color: #F00; }

.more a:link, .more a:visited { color: #C00; }
.more a:hover, .more a:active { color: #C00; }

p.more {
	text-align: right;
}

div.right-column > p.more { margin-right: 16px; }
div.right-column input, div.right-column textarea { width: 280px; }
div.right-column input.submit, div.right-column input.cancel { width: auto; }

form#loginform fieldset > a
{
	line-height: 3.2em;
	color: #555;
}

input.untouched {
    color: #888;
}


/* search form */
form#search { width: 216px; }
form#search fieldset { width: 216px; }
form#search label
{
	font-style: italic;
	cursor: default;
}
form#search label.license, form#search label.mm_searchlang
{
	font-style: italic;
	display: none;
}
form#search input { width: 202px; }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    form#search input { padding: 2px; width: 210px; } 
}

form#search select
{
	width: 216px;
	margin-bottom: 4px;
}
form#search select#mm_searchlang,
form#search select#license { margin-top: 10px; }

form#search input.submit
{
	width: auto;
	margin-right: 0;
	padding-left: 6px;
	padding-right: 6px;
}

input#searchinput
{
	background-image: url(images/search-bg.png);
	background-position: right 50%;
	background-repeat: no-repeat;
}

form#search p
{
    text-align: right;
    text-transform: lowercase;
    font-size: 0.9em;
}

form#search p a:link,
form#search p a:visited
{
    color: #555;
    text-decoration: none;
}

form#search p a:hover,
form#search p a:active
{
    color: #c00;
    text-decoration: underline;
}

#usersearch input {
    background-image: url(images/search-bg.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

/* tagging */
#tagsuggestions
{
	/* border: 1px solid #ccc; */
	margin-top: 0;
	padding: 0 4px 4px 4px;
}

a.tag
{
    background-color: #efefef;
    border: 1px solid #ccc;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0.2em;
}

a.tag:link, a.tag:hover, a.tag:visited
{
    color: #444;
    text-decoration: none;
}

a.tag:hover
{
    background-color: #fea;
    color: #000;
    border: 1px solid #666;
    text-decoration: none;
}

a.tag.add
{
/*
    background-image: url(images/icon_plus.gif);
    background-position: 0.3em center;
    background-repeat: no-repeat;
    padding-left: 1.3em;
*/
}

a.tag.delete
{
    /*background-color: #FEA;*/
    background-image: url(images/icon_minus.gif);
    background-position: 0.3em center;
    background-repeat: no-repeat;
    padding-left: 1.3em;
}

/* popups */
div.popup
{
    display: none;
    font-size: 0.95em;
    clear: both;
}
div.main-column div.popup { width: 510px; }
div.right-column div.popup { width: 290px; }

div.main-column div.popup,
div.right-column div.popup {
    border: 1px solid #ccc;
    margin: 8px 0;
}

div.main-column div.popup input { width: 332px; }

div.popup h4
{
    background-color: #eee;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: none;
    letter-spacing: 0;
    padding: 2px 4px;
    font-size: 1em;
    border-bottom: 1px #ccc dotted;
    color: #666;
}

div.popup form, div.popup p, div.popup ul
{
	padding: 2px 6px 0 6px;
	margin-bottom: 0;
}

div.popup form input.submit,
div.popup form input.submit
{
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
}

a.close
{
    float: right;
    overflow: hidden;
    background-image: url(icons/close.png);
    height: 0px !important;
    padding: 20px 0 0 0;
    width: 20px;
}

div#license img
{
	float: left;
	margin: 4px 4px 0 6px;
}

div#license p img
{
	float: left;
	margin: 2px 4px 0 0;
}

div#license h5
{
	font-size: 1.1em;
	margin: 4px 6px 0 6px;
	color: #333;
}

div#license p { clear: both; }


div.legaltext
{
	max-height: 320px;
	width: 506px;
	overflow: auto;
	border: 1px solid #CFCFCF;
	color: #777;
	font-size: 1em;
	margin: 0 0 6px;
	padding: 3px;
}
div.legaltext a:link, div.legaltext a:visited { color: #666; }

div.progressInfo
{
	width: auto;
	border: 2px solid #ccc;
	padding: 2px 4px 0;
	font-weight: bold;
	text-align: left;
	position: relative;
	height: 22px;
}


div.PROGRESS, div.DONE
{
	background-image: url(../images/progress.png);
	background-color: #fff;
	background-repeat: repeat;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}

div.progressInfo span.percentage
{
	position: relative;
	top: 0;
	left: 2px;
	color: #555;
}

div.progressInfo span.speed
{
	position: relative;
	top: 0;
	left: 12px;
	color: #555;
}

body.home p.logobeng
{
	margin-top: 40px;
	font-size: 0.9em;
	color: #777;
}

body.home p.logobeng img { margin-top: 8px; }

h4.plusfields
{
	padding-left: 12px;
	background-image: url(images/icon_plus.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	border-bottom: 1px #555 solid;
	padding-bottom: 2px;
}

h4.plusfields.open { background-image: url(images/icon_minus.gif); }
h4.plusfields a:link, h4.plusfields a:visited { color: #555; }
h4.plusfields a:hover, h4.plusfields a:active { color: #c00; }

fieldset.plus
{
	padding: 6px 0;
	/*border-bottom: 1px #555 solid;*/
}

/* labels in/over inputs and textareas */
form.mm_form fieldset.labelininput label.ininput { cursor: text; }

fieldset.labelininput label.ininput { display: block; }

fieldset.labelininput label.ininput { font-weight: normal; }
fieldset.labelininput label.ininput span
{
	position: absolute;
	padding: 13px 3px 5px 3px;
	margin-left: 3px;
	color: #888;
	z-index: 0;
	cursor: text;
}

fieldset.labelininput label.ininput span.grey { color: #cfcfcf; }
fieldset.labelininput label.ininput span.transparent { visibility: hidden; }

fieldset.labelininput input,
fieldset.labelininput textarea {
    z-index: 1;
/*
    padding: 5px;
    margin: 0;
    margin-top: 8px;
*/
    font: inherit;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    fieldset.labelininput input,
    fieldset.labelininput textarea { /*padding: 2px 4px;*/ }
}
