/**
* @author   Open Images Platform
* @since    May 2009
* @name     Stylesheet for specific styles
* @version  '$Id$'
*/

div.main-column ul,
div.right-column ul { list-style: none; }

ul.menu { margin-bottom: 2em; }
ul.menu li ul { margin-bottom: 0; }
ul.menu li ul li ul { margin-bottom: 0; }
ul.menu li.active { font-weight: bold; }

div.main-column ul li ul, 
div.right-column ul li ul
{
    margin-left: 1em;
    list-style: none;
	font-weight: normal;
}

div.main-column ul li ul li ul, 
div.right-column ul li ul li ul
{
	margin-left: 2em;
	list-style: none;
	font-weight: normal;
}

div.blog a:link,
div.blog a:visited { color: #555; }

div.blog a:hover,
div.blog a:active {
    color: #C00;
    text-decoration: underline;
}

div.blog h3
{
	font-size: 1.05em;
	font-weight: bold;
	text-transform: none;
	letter-spacing: normal;
	white-space: normal;
}

div.blog h3,
div.blog p { margin-bottom: 0; }
div.blog p.date, 
div.blog p.readmore
{
	margin-top: 0;
	margin-bottom: 1em;
}

div.article { margin-bottom: 4em; }
p.intro { color: #333; }
p.author { font-style: italic; }

ul.links, ul.docs
{
    list-style: none;
    margin-bottom: 1em;
}

ul.links a, ul.docs a
{
    color: #555;
    /*text-decoration: none;*/
}

ul.links a:hover, ul.docs a:hover
{
    color: #c00;
    text-decoration: underline;
}

div.image
{
    float: right;
    margin: 4px;
}

div.image p
{
    margin: 0;
    font-size: small;
    font-style: italic;
}

div.oiplayer { background-color: #000; }
div.inavailable {
	width: 512px;
	height: 288px;
	text-align: center;
	font-weight: bold;
	background-image: url(../images/preview_video_512x288.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.inavailable.audio { background-image: url(../images/preview_audio_512x288.png); }
div.inavailable.image { background-image: url(../images/preview_image_512x288.png); }
div.inavailable p
{
	padding-top: 120px;
	text-shadow: 2px 2px 6px #fff;
	font-size: 1.4em;
	color: #333;
}

/* result lists, tabs above lists etc. */
ul.list-tabs
{
    float: left;
    width: 100%;
    list-style: none;
    display: inline;
    height: 46px;
}

ul.list-tabs li
{
    float: left;
    margin: 0;
    padding: 0;
}

ul.list-tabs a
{
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 6px 0 0;
	padding: 6px;
	background-image: url(images/bg-gray-hor.png);
	background-repeat: repeat-y;
	background-position: 0 0;
}

ul.list-tabs a:link,
ul.list-tabs a:visited
{
    text-decoration: none;
    color: #555;
}

ul.list-tabs a:hover,
ul.list-tabs a:active
{
    text-decoration: underline;
    color: #C00;
}

ul.list-tabs li.selected a:link,
ul.list-tabs li.selected a:visited,
ul.list-tabs li.ui-tabs-selected 
{
    color: #000;
    font-weight: bold;
}

div#video, div#audio, div#images {  }

dl.list
{
    display: inline;
    float: left;
    margin: 10px 0;
    width: 512px; 
}

dl.list dt
{
	float: right;
	font-size: 1em;
	line-height: 12pt;
	font-weight: bold;
	width: 422px; 
}
dl.thumbs dt { display: none; }
dl.list dd.img { margin-left: 0;}

dl.list dd
{
    margin-left: 90px;
    font-size: 0.85em;
	line-height: 12pt;
}

dl.list dd strong
{
    display: block;
    font-size: 1.1em;
    font-weight: normal;
}
dl.list dd strong.show { color: #c00; }

dl.list dd.img img {
    border: 1px solid #efefef;
    float: left;
    margin: 0;
}

dl.list a:link,
dl.list a:visited
{
    text-decoration: none;
    color: #555;
}

dl.list a:hover,
dl.list a:active
{
    text-decoration: underline;
    color: #C00;
}

dl.list a.edit:link,
dl.list a.edit:visited { text-decoration: underline; }

dl.list a.edit:hover,
dl.list a.edit:active
{
    text-decoration: underline;
    color: #c00;
}

p.pager {
    text-align: center;
    padding-top: 1em;
    text-transform: lowercase;
    clear: both;
}
p.pager a,
p.pager strong {
	margin: 0 2px;
	font-weight: normal;
}

ul.sortby a { padding-left: 18px; }
ul.sortby a.up
{
    background-image: url(icons/up.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

ul.sortby a.down
{
    background-image: url(icons/down.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

ul.sortby a:link,
ul.sortby a:visited
{
    text-decoration: none;
    color: #555;
}

ul.sortby a:hover,
ul.sortby a:active
{
    text-decoration: underline;
    color: #C00;
}

ul.sortby li.thumbsonly
{
	margin-top: 1em;
	padding-left: 18px;
	background-image: url(icons/grid.png);
	background-repeat: no-repeat;
	background-position: 4px 6px;
}
ul.sortby li.thumbsonly.active { background-image: url(icons/grid-list.png); }

ul.sortby li.thumbsonly {}
ul.sortby li.thumbsonly a { padding-left: 0; }

/* media item page */
div.mediaimage { height: 288px; }
h3.subtitle, h3.mediatitle {
	color: #707070;
	text-transform: none;
	font-weight: bold;
	font-size: 14px;
	margin: 8px 0 0 0;
	clear: both;
	letter-spacing: normal;
	max-width: 512px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
h3.mediatitle.maywrite { white-space: normal; } /* for Firefox */
body.media-item h3.mediatitle {
	margin-top: 8px;
}
h4.subtitle {
    color: #707070;
    font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.toolbar
{
	margin: 12px 0 12px 0;
	height: 32px;
}

ul.toolbar
{
	list-style: none;
	display: inline;
}

ul.toolbar li
{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

ul.toolbar li a
{
	float: left;
	padding: 6px 28px 2px 14px;
	background-image: url(images/button-gradient.png);
	background-position: right 50%;
	background-repeat: repeat-x;
	height: 22px;
	border-top: 1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
}

ul.toolbar li.license a { border-left: 1px #CCC solid; }
ul.toolbar li.favorite a,
ul.toolbar li.order a,
ul.toolbar li.edit a
{
	background-position: left 50%;
	padding: 6px 14px 2px 14px;
}

ul.toolbar a:link,
ul.toolbar a:visited, 
ul.toolbar a:hover,
ul.toolbar a:active
{
	text-decoration: none;
	color: #666;
	font-weight: bold;
    outline: none;
}

ul.toolbar li.favorite a { color: #666; }
ul.toolbar li.favorite a.selected { color: #65af0e; }

p.media-intro
{
    clear: both;
    padding-top: 6px;
}

table.media-info th
{
	text-align: left;
	color: #333;
	text-transform: lowercase;
}

table.media-info td
{
	text-align: left;
	padding-left: 4px;
}

table.media-info a:link { text-decoration: none; }
table.media-info a:visited { text-decoration: none; }
table.media-info span.user a:hover { text-decoration: underline; }
table.media-info span.user a:active { text-decoration: underline; }

dl.media-info
{
	float: left;
	width: 512px;
	padding: 0;
	margin: 0 0 2em 0;
	display: inline;    /* fixes another IE/Win bug */
}

dl.media-info dt
{
	float: left;
	margin-right: 6px;
	padding: 0;
	white-space: nowrap;
	color: #444;
}

dl.media-info dd { padding: 0; }
dl.media-info a:link { text-decoration: none; }
dl.media-info a:visited { text-decoration: none; }
dl.media-info span.user a:hover { text-decoration: underline; }
dl.media-info span.user a:active { text-decoration: underline; }

/* media item page */
body.media-item dl.media-info {	
    float: none;
    display: block;
    margin: 10px 0;
}
body.media-item dl.media-info.tags { display: block; }
body.media-item dl.media-info dt {
	width: 160px;
	margin-right: 0;
	font-weight: bold;
	color: #707070;
}
body.media-item dl.media-info dd {
	width: 350px;
	margin-left: 166px;
}
body.media-item dl.media-info.tags dd {
	width: auto;
	margin-left: 0;
}


body.media-item div.notshown, 
body.media-item dl.notshown { display: none; }

body.media-item p.media-intro { margin-bottom: 8px; }

body.media-item div.more {
	border-bottom: 1px #ccc dotted;
}
body.media-item p.more {
	text-transform: lowercase;
	text-align: left;
	margin: 0 0 8px 0;
}
body.media-item p.more a {
	background-image: url(icons/triangle-down.png);
	background-repeat: no-repeat;
	background-position: right 4px;
	padding-right: 15px;
}

body.media-item p.more a.open {
	background-image: url(icons/triangle-up.png);
	background-position: right 5px;
}

body.media-item p.more a:link,
body.media-item p.more a:visited {
	text-decoration: none;
}
body.media-item p.more a:hover,
body.media-item p.more a:active {
	text-decoration: underline;
}



dl.preview
{
	width: 150px;
	overflow: hidden;
	margin-bottom: 0;
}

dl.preview dt
{
	width: 150px;
	height: 111px;
}

dl.preview dd
{
	margin: 2px 0;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #777;
}

dl.grid
{
	float: left;
	width: 80px;
	height: 104px;
	margin: 4px 28px 0 0;
	font-size: 0.9em;
	line-height: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

dl.noverflow { overflow: visible; }

#t_thumbs dl.grid { height: 80px; }

dl.grid img { border: 1px solid #efefef; }

dl.last { margin-right: 0; }

dl.grid dt, dl.grid3 dt { height: 60px; }
dl.grid dd, dl.grid3 dd
{
	padding-top: 6px;
	padding-left: 1px;
}
dl.grid dd span.user a:link, 
dl.grid dd span.user a:visited,
dl.grid dd span.user a:active {
	text-decoration: none;
	color: #666;
}
a.edit
{
	float: right;
	font-weight: normal;
	text-transform: lowercase;
	text-decoration: underline;
}
a.editme:link, a.editme:visited { color: #666; }
a.edit:hover, a.edit:active
{
	color: #c00;
	text-decoration: underline;
}

.more a:link, .more a:visited { color: #666; }
.more a:hover, .more a:active { color: #C00; }

p.more
{
	text-align: right;
	margin-top: 1.4em;
}

div.right-column > p.more { margin-right: 16px; }
div.right-column input, div.right-column textarea { width: 280px; }
div.right-column input.submit, div.right-column input.cancel { width: auto; }

form#loginform fieldset > a
{
	line-height: 3.2em;
	color: #555;
}

input.untouched {
    color: #888;
}

/* popups */
div.popup
{
    display: none;
    font-size: 0.95em;
    clear: both;
}
div.main-column div.popup { width: 510px; }
div.right-column div.popup { width: 290px; }

div.main-column div.popup,
div.right-column div.popup {
    border: 1px solid #ccc;
    margin: 8px 0;
}

div.main-column div.popup label { cursor: default; }
div.main-column div.popup label.description { width: auto; }

div.main-column div.popup input { width: 336px; }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    div.main-column div.popup input { padding: 2px; width: 342px; } 
}
div.main-column div.popup textarea
{
	width: 484px;
	height: 100px;
}

div.popup h4
{
	background-color: #eee;
	font-family: Helvetica, sans-serif;
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	padding: 2px 4px;
	margin-bottom: 6px;
	font-size: 1em;
	border-bottom: 1px #ccc dotted;
	color: #666;
}

div.popup form, div.popup p, div.popup ul
{
	padding: 2px 6px 0 6px;
	margin-bottom: 0;
}

div.popup form input.submit,
div.popup form input.submit
{
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
}

div.popup a.close
{
    float: right;
    overflow: hidden;
    background-image: url(icons/close.png);
    height: 0px !important;
    padding: 20px 0 0 0;
    width: 20px;
}

div#license h5
{
	font-size: 1.1em;
	margin: 0 6px;
	color: #333;
}

div#license img
{
	float: left;
	margin: 4px 6px 0 2px;
}

div#license img p { margin: 4px 8px 0 0; }


/* tagging */
div#tag
{
	margin: 1em 0;
	clear: both;
}

div#tag
{
	width: 498px;
	border: 1px solid #ccc;
	padding: 6px;
}
div#tag h4 { margin-bottom: 4px; }
div#tag a.close
{
	float: right;
	font-weight: normal;
	color: #c00;
	text-decoration: underline;
	text-transform: lowercase;
}
div#tag label { width: 168px; }
div#tag input { width: 318px; }
div#tag fieldset { margin: 0; }
div#tag input.submit
{
	width: auto;
	padding: 4px 8px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    div#tag input { padding: 2px; width: 324px; } 
}

ul#tags
{
	/* float: left; */
	width: 100%;
	margin-bottom: 1em;
	list-style: none;
}
body.media-item ul#tags { width: 346px; }

ul#tags li
{
	float: left;
	margin: 0;
	padding: 0;
}

ul#tags li a
{
	float: left;
	display: block;
	color: #333;
	padding: 0 0 0 20px;
	background-image: url(images/dots-2px.png);
	background-position: 9px 10px;
	background-repeat: no-repeat;
}

ul#tags li.first a, 
ul#tags li.add a
{
	background-image: none;
	padding-left: 0;
} 

ul#tags li a:link,
ul#tags li a:visited { text-decoration: underline; }
ul#tags li a:hover
{
	text-decoration: underline;
	color: #c00;
}
ul#tags li a:active { 
    outline: none;
    -moz-outline-style: none;
} 
ul#tags li a:focus { outline: none; } 

ul#tags li a.delete
{
	width: 12px;
	padding: 9px 0 0 0;
	margin: 6px -3px 0 4px;
	background-image: url(images/icon_minus.png);
	background-position: 3px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 0px !important;
}

ul#tags li a.delete:hover { background-position: 3px -9px; }
ul#tags li.deleted { display: none; }

ul#tags li.add
{
	float: right;
	text-transform: lowercase;
	margin-right: 0;
	padding-right: 0;
}

ul#tags li.add a { color: #C00; }

a.tag.add
{
	background-image: url(images/icon_plus.gif);
	background-position: 0.3em center;
	background-repeat: no-repeat;
	padding-left: 1.3em;
	margin-right: 8px;
}

ul.tags { 
    width: 512px; 
    list-style: none;
}
ul.tags li
{
	list-style: none;
	display: inline;
	float: left;
	margin: 0 3px 0 0;
}
ul.tags a { color: #666; }

div.legaltext
{
	max-height: 320px;
	width: 506px;
	overflow: auto;
	border: 1px solid #CFCFCF;
	color: #777;
	font-size: 1em;
	margin: 0 0 6px;
	padding: 3px;
}
div.legaltext a:link, div.legaltext a:visited { color: #666; }

body.home p.logobeng
{
	margin-top: 40px;
	font-size: 0.9em;
	color: #777;
}

body.home p.logobeng img { margin-top: 8px; }

h4.plusfields
{
	padding-left: 12px;
	background-image: url(images/icon_plus.gif);
	background-repeat: no-repeat;
	background-position: left 4px;
	border-bottom: 1px #555 solid;
	padding-bottom: 2px;
}

h4.plusfields.open { background-image: url(images/icon_minus.gif); }
h4.plusfields a:link, h4.plusfields a:visited { color: #555; }
h4.plusfields a:hover, h4.plusfields a:active { color: #c00; }

fieldset.plus
{
	padding: 6px 0;
	/*border-bottom: 1px #555 solid;*/
}

/* labels in/over inputs and textareas */
form.mm_form fieldset.labelininput label.ininput { cursor: text; }

fieldset.labelininput label.ininput { display: block; }

fieldset.labelininput label.ininput { font-weight: normal; }
fieldset.labelininput label.ininput span
{
	position: absolute;
	padding: 13px 3px 5px 3px;
	margin-left: 3px;
	color: #888;
	z-index: 0;
	cursor: text;
}

fieldset.labelininput label.ininput span.grey { color: #cfcfcf; }
fieldset.labelininput label.ininput span.transparent { visibility: hidden; }

fieldset.labelininput input,
fieldset.labelininput textarea {
    z-index: 1;
/*
    padding: 5px;
    margin: 0;
    margin-top: 8px;
*/
    font: inherit;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    fieldset.labelininput input,
    fieldset.labelininput textarea { /*padding: 2px 4px;*/ }
}

body.media-item #lightbox-secNav-btnClose,
body.home #lightbox-secNav-btnClose { width: auto; }

body.media-item #lightbox-container-image-data,
body.home #lightbox-container-image-data
{
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	padding: 0;
	margin-bottom: 0;
}

a.lightbox.hidden { display: none; }

div.addthis_toolbox { margin: 4px 0 4px 6px; }
div.addthis_toolbox a
{
	text-decoration: none;
	color: #555;
}

div.wikipedia a { color: #666; }


/* styles for search info boxes */
div#searchwrap {
	position: absolute;
	top: 8px;
}
div#searchwrap.broad {
	width: 472px;
	z-index: 8;
}
div#searchwrap div.greyslab { display: none; }
div#searchwrap.broad div.greyslab {
	display: block;
	height: 100%;
	width: 250px;
	background-color: #f0f0f0;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	z-index: 8;
	position: absolute;
	right: 0;
	top: 0;
}

/* close link */
div#searchwrap.broad div.greyslab a {
	margin: 4px 8px;
	display: block;
}
div#searchwrap.broad div.greyslab a:link,
div#searchwrap.broad div.greyslab a:visited {
	text-decoration: none;
	color: #000;
}
div#searchwrap.broad div.greyslab a:hover,
div#searchwrap.broad div.greyslab a:active {
	text-decoration: underline;
	color: #333;
}

div#searchwrap form#search.broad {
	width: 480px;
	z-index: 8;
}
form#search fieldset > div {
	position: relative;
	margin: 0;
	padding: 0;
}
form#search a.infos {
	position: absolute;
	z-index: 10;
	top: 24px;
	right: -18px;
}
form#search div.languages a.infos,
form#search div.licenses a.infos { top: 11px; }

form#search div p.infos { display: none; }
form#search div p.infos {
	display: none;
	position: absolute;
	border: 0;
	z-index: 9;
	width: 226px;
	background: #f0f0f0;
	color: #777;
	margin-left: 0;
	margin-top: 0;
	left: 238px;
	top: 22px;
	padding: 0px !important;
	font-size: 0.9em;
	text-align: left;
	text-transform: none;
}
form#search div.languages p.infos,
form#search div.licenses p.infos { top: 11px; }
form#search div p.infos.shown { display: block; }

form#search div p.infos strong {
	display: block;
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 4px;
}
