
@font-face {
  font-family:"DINEngEot";
  src: url(DINEngschriftStd.eot);
}


@font-face {
  font-family: "DINEng";
  src: url(DINEngschriftStd.otf);
}
div#test1 {
  font-family: DINEngEot, DINEng, sans-serif;
}
div#test2 {
  font-family: DINEngEot, DINEng;
}
div#test3 {
  font-family: DINEng;
}
div#test4 {
  font-family: DINEngEot;
}
